* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin-left: 15px;
  margin-right: 15px;
}

.row {
  display: flex;
}

.block {
  width: 100%;
  height: 300px;
  background: #3498db;
  margin: 15px;
  /* width: calc(1/3 - 30px); */
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .row {
      flex-wrap: wrap;
      justify-content: center;
  }

  .block {
    width: 100%;
  }
}
